@import '../libs/bootstrap/dist/css/bootstrap.min.css';
@import '../libs/font-awesome/css/font-awesome.css';

body {
    background-color: #f0f0f0;
}

.completed label{
    text-decoration: line-through;
}

.app {
    margin: 0 auto;
    width: 500px;
}

.tasksBox {
    margin-top:50px;
}

.tasksBox .title {
    padding: 10px 10px 0px 10px;
    border-width: 0 0 1px 0;
    border-style: dashed;
    border-color: #f0f0f0;
}

.tasksBox .addTaskForm {
    padding: 10px 10px 0px 10px;
}

.tasksBox .tasksBoxBar {
    padding: 10px;

    border-width: 1px 0 0 0;
    border-style: dashed;
    border-color: #f0f0f0;
}

.tasksBox aside {
    float: right;
}

.taskList li {
    border-width: 0;
}

.taskList .taskLabel {
    border-width: 0;
    padding-left: 7px;
}

.taskList li:nth-child(odd) {
    background-color: #f4f4f4;
}
