@import '../libs/bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: rgb(246, 245, 245);
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

form {
    margin: 0;
    padding: 0;
}

.completed label{
    text-decoration: line-through;
    color: rgb(203, 203, 203);
}

.app {
    margin: 0 auto;
    width: 500px;
}

.tasksBox {
    margin-top:50px;
}

.tasksBox .title {
    padding: 25px 0px 25px 0px;
    border-width: 0 0 1px 0;
    border-style: dashed;
    border-color: rgb(228, 228, 228);
}

.tasksBox .addTaskForm {
    padding: 10px 30px 0px 5px;
}

.tasksBox .tasksBoxBar {
    color: rgb(203, 203, 203);
    padding: 20px;

    border-width: 1px 0 0 0;
    border-style: dashed;
    border-color: rgb(228, 228, 228);
}

.tasksBox aside {
    float: right;
}

.taskList li {
    color: rgb(122, 123, 124);
    border-width: 0;
}
.taskList li:hover .ui-icon {
    visibility: visible;
}

.taskList .ui-icon {
    float: right;
    visibility: hidden;
}

.taskList .taskLabel {
    border-width: 0;
    padding-left: 7px;
    font-weight: 500;
}

.taskList li:nth-child(odd) {
    background-color: rgb(244, 247, 250);
}
