@import '../libs/bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: rgb(246, 245, 245);
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.completed label{
    text-decoration: line-through;
}

.app {
    margin: 0 auto;
    width: 500px;
}

.tasksBox {
    margin-top:50px;
}

.tasksBox .title {
    padding: 25px 0px 25px 0px;
    border-width: 0 0 1px 0;
    border-style: dashed;
    border-color: rgb(228, 228, 228);
}

.tasksBox .addTaskForm {
    padding: 20px 20px 0px 20px;
}

.tasksBox .tasksBoxBar {
    color: rgb(51, 51, 51);
    padding: 20px;

    border-width: 1px 0 0 0;
    border-style: dashed;
    border-color: rgb(228, 228, 228);
}

.tasksBox aside {
    float: right;
}

.taskList li {
    border-width: 0;
}
.taskList li:hover .ui-icon {
    visibility: visible;
}

.taskList .ui-icon {
    float: right;
    visibility: hidden;
    /*position: absolute; margin-right: 5px;*/
}

.taskList .taskLabel {
    border-width: 0;
    padding-left: 7px;
    font-weight: 300;
}

.taskList li:nth-child(odd) {
    background-color: rgb(244, 247, 250);
}
